
	/********************************************************************************************************************************/
	/************************************************************ GENERAL ***********************************************************/
	/********************************************************************************************************************************/
	
body{
	margin:0;
	padding:0;
	overflow:hidden;
	background:#eee;
}
svg{
	background-image:url("../ressources/images/brown-papyrus-paper.jpg");
	background-size:cover;
	height:2048px;
}
::-webkit-scrollbar { 
    display: none; 
}
label,button{
	margin:5px 0;
}
input{
	margin:5px;
}
button{
	border:solid 1px #aaa;
	border-radius:2px;
	height:30px;
}
button.pressed{
	background: linear-gradient(#a44, #600);
	color:#ddd;
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.map-container,.commands-container{
	height:93vh;
	overflow:scroll;
	border:solid #272b30;
}

	/********************************************************************************************************************************/
	/******************************************************** COMMANDS PANEL ********************************************************/
	/********************************************************************************************************************************/

#turn{
	background-color:#343a40;
	padding:5px;
	text-align: center;
	color:white;
	font-weight: bold;
	margin:0;
}
.commands-container{
	background: linear-gradient(100deg, #e2e2e2,#c2c2c2);
}
.commands-set{
	padding:10px;
	border-bottom:solid #222;
}
.commands-set h4{
	font-weight:600;
	font-size:1.4em;
	padding:0;
	margin:0;
}
.commands-set hr{
	margin:5px 0;
	padding:0;
	border-color:black;
}
.interactive:hover{
	color:#600;
	cursor:pointer;
}