
	/********************************************************************************************************************************/
	/************************************************************ GENERAL ***********************************************************/
	/********************************************************************************************************************************/

body{
	margin:0;
	padding:0;
	overflow:hidden;
	background:#eee;
}
svg{
	background-image:url("../ressources/images/brown-papyrus-paper.jpg");
	background-size:cover;
	height:2048px;
}
::-webkit-scrollbar { 
    display: none; 
}
label,button{
	margin:5px 0;
}
input{
	margin:5px;
}

.hidden{
	display:none;
}
button{
	border:solid 1px #aaa;
	border-radius:2px;
	height:30px;
}
button.pressed{
	background: linear-gradient(#a44, #600);
	color:#ddd;
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.map-container,.commands-container{
	height:93vh;
	overflow:scroll;
	border:solid #272b30;
}
.clickable{
	cursor:pointer!important;
	-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
			-moz-user-select: none; /* Old versions of Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
				user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
	  
}
.black-filter{
	background-color:rgba(0,0,0,0.3);
}

	/********************************************************************************************************************************/
	/******************************************************** COMMANDS PANEL ********************************************************/
	/********************************************************************************************************************************/

#turn{
	background-color:#343a40;
	padding:5px;
	text-align: center;
	color:white;
	font-weight: bold;
	margin:0;
}
.commands-container{
	background: linear-gradient(100deg, #e2e2e2,#c2c2c2);
	padding:0;
	min-width:300px;
}
.commands-set{
	border-bottom:solid #222;
}
.commands-set .commands-title{
	padding:10px 10px 5px 10px;
	font-weight:600;
	font-size:1.4em;
	margin:0;
}
.commands-set .commands-title:hover{
	color:white;
	background: linear-gradient(140deg,#555,#343a40);
}
.content-set{
	border-top:solid 1px #343a40;
}

	/******************************************************** BATTLES COMMANDS ********************************************************/

.battle-row{
	display:flex;
	align-content:stretch;
	height:48px;
}
.slider-row{
	display:flex;
	height:64px;
}
.slider-cell{
	display:inline-flex;
	flex-basis:80%;
}
.slider-cell>div{
	margin:22px 14px;
}
#battles-content .filled-cell{
	background-color:#343a40;
}

#battles-content .legend, #battles-content .selector{
	display:inline-flex;
	flex-basis: 40%;
	border: solid 1px #343a40;
    justify-content: center;
	font-size:1.2em;
	color:white;
	text-shadow: #343a40 1px 0 10px;
	font-weight:600;
	text-align: center;
	line-height:48px;
}
#battles-content .legend{
	line-height:48px;
}
#attacker-legend{
	background:linear-gradient(140deg, rgb(196, 31, 31),rgb(129, 14, 14));
}
#defender-legend{
	background:linear-gradient(140deg, rgb(31, 97, 196),rgb(14, 60, 129));
}
#attacker-selector{
	background: linear-gradient(140deg, rgb(211, 144, 144),rgb(175, 57, 57));
}
#defender-selector{
	background:linear-gradient(140deg, rgb(140, 176, 229),rgb(68, 103, 155));
}

/** Selectors **/
#battles-content .selector:hover{
	padding:1px 0 0 1px;
	box-shadow: inset 1px 1px 4px black;
}
#battles-content .selector.pressed{
	box-shadow: inset 3px 3px 8px black;
    padding: 3px 0 0 3px;
}

/** Buttons **/

#battles-content .button-cell, #battles-content .filled-cell{
	display:inline-flex;
	flex-basis: 20%;
	border: solid 1px #343a40;
}
#battles-content .button-cell:hover{
	padding:8px 0 0 1px;
	box-shadow: inset 1px 1px 4px black;
}
#battles-content .button-cell>img{
	display:block;
    margin: auto;
}

#strength-slider-handle {
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}

	/***************************************************** INFORMATIONS COMMANDS ******************************************************/

#informations-content{
	background-size:cover;
	color: white;
}
#informations-content *{
	color:white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#country-field{
	padding:5px 0 5px 10px;
	background:linear-gradient(140deg, rgba(0,0,0,1),rgba(0,0,0,0.05),rgba(0,0,0,0));
	margin:-1px 0 0 0;
}
#informations-content .custom-row{
	display:flex;
	align-content:stretch;
} 
#informations-content .custom-cell{
	display: inline-flex;
	flex-basis: 50%;
	border:solid 1px black;
	font-weight:500;
	font-size:1.2em;
	padding:5px;
} 
#icon-is-player{
    float: right;
    margin: 3px 5px;
}
#country-informations img{
	margin-right:5px;
}